

@{
    ViewBag.Title = "Userdata";
}

<h2>Hello @TempData["Usname"]</h2>

<h4>First Name: @TempData["FirstName"]</h4>
<br />
<br />

<h4>Last Name: @TempData["LastName"]</h4>
<br />
<br />
<h4>Date of Birth: @TempData["Date"]</h4>
<br />
<br />
<h4>Department: @TempData["Department"]</h4>
<br />
<br />
<h4>Status @TempData["Status"]</h4>
<br />
<br />